.el-header {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 500px */
    /* display: block */
}

.el-header h1, p {
    text-align: center;
}

.main {
    background-color: rgb(239,239,239);
    height: 100%
}

.header {
    /* background-color: #009FDB */
    margin-top: 20px;
    /* background-color: #18121e; */
    /* color: white; */
}

.mrgn {
    margin-top: 200px;
}