<template>
  <div>
    <div class="header container">
      <div class="row">
        <div class="col-sm">
          <span v-if="!isLoggedIn">
            <button class="btn btn-primary btn-sm m-1" @click="login()">Log in</button>
          </span>
          <span v-if="!isLoggedIn">
            <button class="btn btn-primary btn-sm m-1" @click="register()">Registration</button>
          </span>
          <span v-if="isLoggedIn">
            <button class="btn btn-primary btn-sm m-1" @click="logout()">Log out</button>
          </span>
        </div>
        <div class="col-sm">
          <h1 class="text-center">TODO app</h1>
        </div>
        <div class="col-sm">
          <span v-if="isLoggedIn">
            <p>Logged in: {{loggedUser.username}}</p>
          </span>
        </div>
      </div>
    </div>
      <router-view class="container"></router-view>

  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      name: "hello"
    };
  },
  computed: {
    ...mapGetters(["isLoggedIn", "loggedUser"])
  },
  methods: {
    ...mapActions(["LOGOUT", "GET_USER"]),
    async logout() {
      await this.LOGOUT();
    },
    async getUser() {
      await this.GET_USER();
    },
    register() {
      this.$router.push({ name: "Registration" });
    },
    login() {
      this.$router.push({ name: "Login" });
    }
  },
  created() {
    this.getUser();
  }
};
</script>