<template>
	<div class="mrgn">
		<h3 class="form-title">Please, log in</h3>
		<form class="form" @submit.prevent="submitLogin">
			<div class=form-group>
				<input class="form-control mt-1" v-validate="'required|email'" name="email" placeholder="e-mail" label="Insert Your e-mail" v-model="user.email">
				<input type="password" v-validate="'required'" class="form-control mt-1" placeholder="password" label="Insert Your password" name="password" v-model="user.password">
				<button :disabled="!isFormValid" class="form-button btn btn-primary btn-sm" type="submit">Log in</button>
			</div>
		</form>
	</div>
</template>

<script>
	import {
		mapActions
	} from 'vuex'
	import auth from './../auth.js'
	export default {
		data() {
			return {
				user: {
					email: '',
					password: ''
				}
			}
		},
		methods: {
			...mapActions([
				'LOGIN',
				'GET_USER',
				'GET_NOTES'
			]),
			async submitLogin() {
				try {
					await this.LOGIN(this.user)
					await this.GET_USER()
					// await this.GET_NOTES()
					this.user.password = ''
					this.handleLoginSuccess()
				} catch (e) {
					this.user.password = ''
					throw new Error(e)
				}
			},
			handleLoginSuccess() {
				this.$router.push({
					name: 'Notes'
				})
			},
			beforeRouteEnter(to, from, next) {
				auth.isLoggedIn().then(() => {
					next({
						name: 'Notes'
					})
				}).catch(() => {
					next()
				})
			}
		},
		computed: {
			isFormValid() {
				return Object.keys(this.fields).every(key => this.fields[key].valid)
			},
		}
	}
</script>