<template>
  <div class="mrgn">
    <h3 class="form-title">Please, sign in</h3>
    <form class="form" @submit.prevent="submitRegister">
      <input
        class="form-input"
        v-validate="'required'"
        placeholder="username"
        label="Insert Your username"
        name="username"
        v-model="user.username"
      />

      <input
        class="form-input"
        v-validate="'required|email'"
        name="email"
        placeholder="e-mail"
        label="Insert Your e-mail"
        v-model="user.email"
      />
      <span>{{ errors.first('email') }}</span>

      <input
        type="password"
        ç
        class="form-input"
        placeholder="password"
        label="Insert Your password"
        name="password"
        v-model="user.password"
      />
      <span>{{ errors.first('password') }}</span>

      <input
        type="password"
        name="confirmPassword"
        v-validate="'required'"
        class="form-input"
        placeholder="password confirmation"
        label="Insert Your password"
        v-model="user.confirmPassword"
      />

      <button
        :disabled="!isFormValid || !passwordMatch"
        class="form-button btn btn-primary btn-sm"
        type="submit"
      >Register</button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      registerFinished: false,
      user: {
        username: "",
        email: "",
        password: "",
        confirmPassword: ""
      }
    };
  },
  methods: {
    ...mapActions(["REGISTER"]),
    submitRegister() {
      this.REGISTER(this.user)
        .then(() => {
          this.registerFinished = true;
          this.$notify({
            group: "foo",
            text: `Hello ${this.user.username}! You are registered. Please log in`
          });
          this.$router.push({ name: "Login" });
        })
        .catch(e => {
          this.handleErrorMessage(e);
        });
    }
  },
  computed: {
    passwordMatch() {
      return this.user.password === this.user.confirmPassword ? true : false;
    },
    isFormValid() {
      return Object.keys(this.fields).every(key => this.fields[key].valid);
    }
  }
};
</script>
