<template>
  <div class="mb-3">
    <h6 class="text-center">Add note</h6>
    <form class="form" @submit.prevent="addNote">
      <input class="form-input" v-model="model.noteHeader" placeholder="Header" name="header" v-validate="'required'">
      <textarea class="text-area" v-model="model.noteBody" placeholder="Text" name="body" v-validate="'required'"></textarea>
      <div class="text-center">
        <button :disabled="!isFormValid" class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>
  </div>
</template>

<script>
  import {
    mapActions
  } from 'vuex'
  
  export default {
    data() {
      return {
        model: {
          noteHeader: '',
          noteBody: ''
          }
      }
    },
    methods: {
      ...mapActions([
        'SAVE_NOTE'
      ]),
      async addNote() {
        await this.SAVE_NOTE(this.model);
        this.model.noteHeader = '';
        this.model.noteBody = '';
      }
    },
    computed: {
      isFormValid() {
        return Object.keys(this.fields).every(key => this.fields[key].valid);
      }
    }
  }
</script>