<template>
  <div class="mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{note.note_header}}</h5>
        <p class="card-text">{{note.note_body}}</p>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mx-auto" role="group" aria-label="First group">
            <button class="btn btn-danger" @click="deleteNote()">Delete</button>
          </div>
          <div class="btn-group mx-auto" role="group" aria-label="First group">
            <button class="btn btn-success" @click="openModal()">Update</button>
          </div>
        </div>
      </div>
    </div>
    <modal :title="title" ref="modal">
      <label for>Title</label>
      <input
        type="text"
        :value="note.note_header"
        v-on:input="payload.note_header = $event.target.value"
      />
      <label for>Text</label>
      <textarea :value="note.note_body" @input="payload.note_body = $event.target.value"></textarea>
      <button class="btn btn-primary" @click="updateNote()">Update</button>
    </modal>
  </div>
</template>

<script>
import Modal from "./../Modal/Modal";
import AddNote from "./AddNote";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      title: "asdf",
      payload: {
        ...this.note
      }
    };
  },
  components: {
    Modal,
    AddNote
  },
  props: ["note"],
  methods: {
    ...mapActions(["DELETE_NOTE", "UPDATE_NOTE"]),
    deleteNote() {
      this.DELETE_NOTE(this.note);
    },
    openModal: function() {
      //   this.$emit("openModal", this.note);
      this.$refs.modal.open();
    },
    async updateNote() {
      console.log("update", this.payload);
      await this.UPDATE_NOTE(this.payload);
      this.$refs.modal.hide();
    }
  }
};
</script>