<template>
  <div>
    <add-note />
    <div v-if='storedNotes' class="row">
      <div v-for="note in storedNotes" :key="note.id" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <note :note="note" @openModal="showModal"></note>
      </div>
    </div>
  </div>
</template>

<script>
import AddNote from "./AddNote.vue";
import Note from "./Note.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    AddNote,
    Note
  },
  data() {
    return {
      notes: null,
      isModalVisible: false,
      noteToUpdate: ""
    };
  },
  methods: {
    ...mapActions(["GET_NOTES", "UPDATE_NOTE"]),
    getNotes() {
      this.GET_NOTES();
    },
    showModal(noteToUpdate) {
      this.isModalVisible = true;
      this.noteToUpdate = noteToUpdate;
    },
    closeModal() {
      this.isModalVisible = false;
    },
    async saveNote(note) {
      await this.UPDATE_NOTE(note);
      this.closeModal();
    }
  },
  computed: {
    ...mapGetters(["storedNotes"])
  },
  created() {
    this.getNotes();
  }
};
</script>