.form {
    width: 30%;
    margin: auto;
    min-width: 250px;
}

.form-input {
    border-radius: 7px;
    height: 25px;
    width: 100%;
    margin-bottom: 20px;
    outline: none
}

.form-button {
    margin: auto;
    display: block;
    margin-top: 8px
}

.form-title {
    text-align: center
}

.logout-btn {
    position: absolute;
    top: 10 px;
    right: 10 px;
    width: 50 px;
}

.text-area {
    border-radius: 7px;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    outline: none
}