<template>
  <transition name="fade-in">
    <div class="modal show" v-if="show">
      <div class="modal-dialog modal-lg" v-clickOutside="hide" @keyup.esc="hide">
        <div class="modal-content">

          <div class="modal-body">
            <slot></slot>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" @click="hide">
              Close
            </button>
            <slot name="buttons"></slot>
          </div>

        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: ['title', 'hideOnClick'],
  data () {
    return {
      show: false
    }
  },
  methods: {
    open () {
      if (!this.show) this.toggleShow(true)
    },
    hide () {
      if (this.show) this.toggleShow(false)
    },
    toggleShow (bool) {
      if (!bool) bool = !this.show
      this.show = bool
    }
  },
  watch: {
    show () {
      if (!this.show) this.$emit('closed')
    }
  }
}
</script>
