<template>
  <div id="app" class="app">
  <router-view></router-view>
  <notifications group="foo" />
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
// import Layout from './views/Layout'

export default {
  name: 'app',
  components: {
    // Layout
  }
}
</script>

<style>

</style>
